@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#3c21b7, #8B63DA, #CB98ED);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.custom-shape-divider-bottom-1619063140 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619063140 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
}

.custom-shape-divider-bottom-1619063140 .shape-fill {
    fill: #ffffff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    color: #fff;
    font-weight: 600;
}

.menu {
    position: relative;
    display: flex;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    margin-left: 35px;
}

.menu li a:hover {
    color: #faacaf;
}

.content {
    position: relative;
    max-width: 600px;
    z-index: 1;
}

.content h1 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content h2 {
    font-size: 4em;
    color: #fff;
}

.content p {
    font-size: 1em;
    color: #fff;
    margin: 10px 0 20px;
}

.content a {
    padding: 12px 24px;
    text-decoration: none;
    background: #fff;
    color: #000000;
    display: inline-block;
}

.content a:hover {
    background: #faacaf;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

.model {
    position: absolute;
    bottom: 0;
    height: 90%;
    right: 100px;
}

@media (max-width: 991px) {
    header {
        padding: 20px 40px;
    }
    ul.menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background: radial-gradient(#FBC2EB, #78A3EB);
        display: none;
        z-index: 100;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    ul.menu.active {
        display: flex;
    }
    .menu li a {
        color: #fff;
        margin-left: 0;
        font-size: 30px;
        text-decoration: none;
    }
    .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url("menu.png");
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        background-position: center;
        z-index: 1000;
    }
    .toggleMenu.active {
        position: fixed;
        right: 44px;
        background: url("close.png");
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .main {
        padding: 40px 40px 0;
        flex-direction: column;
        justify-content: center;
    }
    .content {
        max-width: 96%;
    }
    .model {
        position: relative;
        height: initial;
        right: initial;
        width: 80%;
        bottom: 0;
        margin-top: 18px;
    }
    .content {
        max-width: 96%;
    }
}

@media (max-width: 550px) {
    .content {
        margin-top: 40px;
    }
    .content h1 {
        font-size: 2em;
    }
    .content h2 {
        font-size: 2em;
    }
}


/* about */

.container {
    width: 100vw;
    height: 100%;
    /* background-color: rgb(246, 239, 230); */
    display: flex;
}

.about-us {
    background: radial-gradient(#FBC2EB, #78A3EB);
}

.about {
    width: 33vw;
    height: 60vh;
    /* background: radial-gradient(#FBC2EB, #78A3EB); */
    padding-left: 25px;
    padding-right: 20px;
    line-height: 2.0rem;
    border: 2 px solid black;
    font-size: 15px;
}

.about-1 {
    width: 33vw;
    height: 60vh;
    /* background-color: radial-gradient(#FBC2EB, #78A3EB); */
    padding-left: 35px;
    line-height: 2.0rem;
}

.information {
    padding-left: 25px;
}

.about-2 {
    width: 33vw;
    height: 60vh;
    /* background-color: radial-gradient(#FBC2EB, #78A3EB); */
    padding-left: 70px;
    line-height: 2.0rem;
}

.line {
    display: block;
    width: 350px;
    height: 1.5px;
    background-color: #F85C70;
    text-align: center;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem;
}

.heading {
    font-size: 20px;
    padding-left: 15px;
}

.priti {
    text-align: center;
    font-size: 25px;
}

.para {
    font-size: 15px;
}

.btn {
    text-align: center;
    font-size: 1.2rem;
    transition-duration: 0.4s;
    line-height: 1.5rem;
    display: inline-block;
    margin: 5px;
    height: 45px;
    width: 180px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #faacaf;
    color: white;
}

.bar {
    border-radius: 10px;
    text-align: right;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    height: 20px;
}

.progress {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.image {
    text-align: center;
    align-items: center;
}

.html {
    width: 98%;
    background-color: #04AA6D;
}

.css {
    width: 92%;
    background-color: #0d0765;
}

.js {
    width: 85%;
    background-color: #f44336;
}

.php {
    width: 90%;
    background-color: #808080;
}

.ui-ux {
    width: 95%;
    background-color: rgb(255, 192, 238);
}

.react-js {
    width: 95%;
    background-color: rgb(63, 8, 48);
}

.menu-1 {
    width: 20%;
    height: 25%;
    padding-left: 15px;
    padding-right: 25px;
}

.menu-2 {
    width: 20%;
    height: 25%;
    padding-left: 15px;
    padding-right: 25px;
}

.menu-3 {
    width: 20%;
    height: 25%;
    padding-left: 15px;
    padding-right: 25px;
}

.menu-4 {
    width: 20%;
    height: 25%;
    padding-left: 15px;
    padding-right: 25px;
}

.menu-5 {
    width: 20%;
    height: 25%;
    padding-left: 15px;
    padding-right: 25px;
}

p {
    font-size: 1.2rem;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 10px 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* contact */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.contact {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 60%;
    margin-top: 6px;
}

input[type=submit] {
    background-color: greenyellow;
    font-size: 1rem;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}